@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("fonts/HelveticaNowDisplay-Regular.woff") format("woff"),
    url("fonts/HelveticaNowDisplay-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "HelveticaNowDisplay";
  color: #fff;
  background-color: #252528;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  font-size: 3rem;
}
h1 {
  font-weight: 900;
  text-decoration: underline double;
}
h3 {
  font-weight: 100;
}

.hind-regular {
  font-family: "Hind", sans-serif;
  font-weight: 400;
}

.hind-bold {
  font-family: "Hind", sans-serif;
  font-weight: 700;
}
button {
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 1.5rem;
  padding: 12px 24px;
  color: #fff;
  margin-top: 2rem;
  background: #4848ac;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}

button:hover {
  background: #5151c1;
}

button:active {
  background: #4f4fce;
  transform: scale(0.98);
}
